@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">
    @if (!_hideSidebar)
{
    <div class="sidebar">
            <NavMenu />
        </div>
}

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <ModalHarness />
    <ToastHarness />
    <LoadingSignal />
</div>

@code {
private bool _hideSidebar;

protected override void OnInitialized()
{
    if (Uri.TryCreate(NavManager.Uri, UriKind.Absolute, out var uri))
    {
        var queries = System.Web.HttpUtility.ParseQueryString(uri.Query);
        if (queries.AllKeys.Contains("embedded"))

        {
            bool.TryParse(queries["embedded"], out _hideSidebar);
        }
    }
    base.OnInitialized();
}
}