@page "/file-sharing/{fileId?}"
@using Medior.Shared.Interfaces
@inject NavigationManager NavManager
@inject HttpClient HttpClient
@inject ILogger<FileSharing> Logger
@inject IApiService ApiService
@inject IToastService ToastService
@inject ILoaderService LoaderService
@inject IServerUriProvider ServerUriProvider

<h3>File Sharing</h3>

@if (FileId is null)
{
    <div class="row mt-5">
        <div class="mb-5">
            <FileUploadButton Multiple="false" OnFilesChanged="HandleFilesChanged" ClassNames="btn btn-lg btn-primary">
                Upload
            </FileUploadButton>
        </div>

        <div class="col-md-8 col-lg-6">
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Enter a file ID to view it"
                   @bind="_inputFileId"
                   @bind:event="oninput"
                   @onkeydown="EvaluateFileIdInputKeyDown">
                <div class="input-group-append">
                    <button class="btn btn-primary" @onclick="NavigateToFileId">Go</button>
                </div>
            </div>


        </div>
    </div>
}
else
{
    <div class="row mt-5">
        <div class="col-12">
            @if (_viewType == ViewType.NotFound)
            {
                <h5>File not found.</h5>
            }
            else
            {
                <div class="mb-5">
                    <a class="btn btn-primary"
                        target="_blank" 
                        href="@(ServerUriProvider.ServerUri)/api/file/@FileId">
                        Download
                    </a>
                    <FileUploadButton Multiple="false" OnFilesChanged="HandleFilesChanged" ClassNames="btn btn-secondary ms-3">
                        Upload
                    </FileUploadButton>
                </div>
                <div>
                    <label class="form-label">
                        <strong>File Name:</strong>
                        <br />
                        @_downloadFileName
                    </label>
                </div>
            }

            @if (_viewType == ViewType.PreviewUnsupported)
            {
                <h4>
                    Preview unavailable for this file type.
                </h4>
            }
            else if (_viewType == ViewType.Image)
            {
                <img class="img-fluid border border-light border-2" src="/api/file/@FileId" />
            }
            else if (_viewType == ViewType.Video)
            {
                <video class="img-fluid border border-light border-2" src="/api/file/@FileId" controls autoplay />
            }
        </div>
    </div>
}

@code {
    private string? _downloadFileName;
    private string? _inputFileId;
    private ViewType _viewType;

    [Parameter]
    public string? FileId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await TryLoadFile();

        await base.OnInitializedAsync();
    }

    private void EvaluateFileIdInputKeyDown(KeyboardEventArgs args)
    {
        if (args.Key.Equals("Enter", StringComparison.OrdinalIgnoreCase))
        {
            NavigateToFileId(_inputFileId ?? string.Empty);
        }
    }

    private async Task HandleFilesChanged(InputFileChangeEventArgs args)
    {
        try
        {
            using var _ = LoaderService.Show("Uploading file");

            using var stream = args.File.OpenReadStream(100_000_000);
            var result = await ApiService.UploadFile(stream, args.File.Name);
            if (!result.IsSuccess)
            {
                ToastService.Show("Upload failed", ToastType.Error);
                return;
            }

            FileId = $"{result.Value}";
            ToastService.Show("Upload succeeded", ToastType.Success);
            NavigateToFileId($"{result.Value?.Id}");
            await TryLoadFile();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while retrieving file details.");
        }
    }

    private void NavigateToFileId()
    {
        NavigateToFileId(_inputFileId ?? string.Empty);
    }

    private void NavigateToFileId(string fileId)
    {
        NavManager.NavigateTo($"/file-sharing/{fileId}");
    }

    private async Task TryLoadFile()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(FileId))
            {
                return;
            }

            using var response = await ApiService.GetFileHeaders(FileId);

            if (!response.IsSuccessStatusCode)
            {
                Logger.LogWarning("Received status code {code}.", response.StatusCode);
                _viewType = ViewType.NotFound;
                return;
            }

            _downloadFileName = response.Content.Headers.ContentDisposition?.FileName?.Trim('"') ?? string.Empty;
            var contentType = response.Content.Headers.ContentType?.MediaType ?? string.Empty;

            Logger.LogInformation("Found content type {type}.", contentType);

            if (contentType.StartsWith("image", StringComparison.OrdinalIgnoreCase))
            {
                _viewType = ViewType.Image;
                return;
            }

            if (contentType.StartsWith("video", StringComparison.OrdinalIgnoreCase))
            {
                _viewType = ViewType.Video;
                return;
            }

            _viewType = ViewType.PreviewUnsupported;
        }
        catch (Exception ex)
        {
            ToastService.Show("An error occurred", ToastType.Error);
            Logger.LogError(ex, "Error while retrieving file details.");
        }
    }

    private enum ViewType
    {
        Unknown,
        NotFound,
        PreviewUnsupported,
        Image,
        Video
    }
}
