@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center mt-5">
    <div class="d-inline-block p-5 rounded-2 bg-dark center-screen">
        <h1>Medior</h1>

        <div class="lead text-muted">
            Multimedia productivity.  Simplified.
        </div>
    </div>

    <div class="mt-5">
        <a class="btn btn-lg btn-primary" href="/downloads/MediorSetup.exe">
            Download
        </a>
    </div>
</div>