@page "/"
@inject IJsInterop JsInterop

<PageTitle>Home</PageTitle>

<div class="text-center mt-5">
    <div class="d-inline-block p-5 rounded-2 bg-dark center-screen">
        <h1>Medior</h1>

        <div class="lead text-muted">
            Multimedia productivity.  Simplified.
        </div>
    </div>

    <div class="mt-5">
        <button type="button" class="btn btn-lg btn-primary" @onclick="DownloadSetup">
            Download
        </button>
    </div>
</div>

@code {
    private async Task DownloadSetup()
    {
        await JsInterop.DownloadFile("/downloads/MediorSetup.exe", "MediorSetup.exe");
    }
}